extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Phần Banner
	section.home-banner
		article.banner
			figure
				img.img-fluid(src="./img/home-banner.png", alt="banner 1")
			.container
				.title
					.row
						.col-md-7
							h1 Chúng tôi là 
								br
								| FullStack Vietnam
							p Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.
							a.btn.btn-more(href="#") READ MORE




























	//- section.product
		.container
			.row
				- for(x=1;x<5;x++)
					.col-sm-6.col-md-3.item
						a(href="#")
							figure
								.blockimg
									img(src="./img/home-product-"+x+".png", alt="", srcset="")
									figcaption
										h3 trung tâm đào tạo it chuyên nghiệp
										.price $80

	//- //- Phần Slider
	//- section.home-slider
	//- 	.owl-carousel.owl-theme
	//- 		a.banner-item(href="#", title="slider")
	//- 			.item
	//- 				.blockimg
	//- 					figure
	//- 						img.img-fluid(src="./img/home-slider.png", alt="slider")
	//- 				.title
	//- 					.container
	//- 						.row
	//- 							.col
	//- 								h2 USA'S HOTTEST JEANS
	//- 								P SHOPPING NOW!!!
	//- 		a.banner-item(href="#", title="slider")
	//- 			.item
	//- 				.blockimg
	//- 					figure
	//- 						img.img-fluid(src="./img/home-slider.png", alt="slider")
	//- 				.title
	//- 					.container
	//- 						.row
	//- 							.col
	//- 								h2 USA'S HOTTEST JEANS
	//- 								P SHOPPING NOW!!!
	//- 		a.banner-item(href="#", title="slider")
	//- 			.item
	//- 				.blockimg
	//- 					figure
	//- 						img.img-fluid(src="./img/home-slider.png", alt="slider")
	//- 				.title
	//- 					.container
	//- 						.row
	//- 							.col
	//- 								h2 USA'S HOTTEST JEANS
	//- 								P SHOPPING NOW!!!
	//- 		a.banner-item(href="#", title="slider")
	//- 			.item
	//- 				.blockimg
	//- 					figure
	//- 						img.img-fluid(src="./img/home-slider.png", alt="slider")
	//- 				.title
	//- 					.container
	//- 						.row
	//- 							.col
	//- 								h2 USA'S HOTTEST JEANS
	//- 								P SHOPPING NOW!!!
							


	//- Phần Clients
	//- section.home-clients
		.container
			.row
				.col
						h2.slogun FullStackVietNam
		.owl-carousel.owl-theme
			.item
				.blockimg
					img(src="./img/home-clients-1.png", alt="clients")
			.item
				.blockimg
					img(src="./img/home-clients-2.png", alt="clients")
			.item
				.blockimg
					img(src="./img/home-clients-3.png", alt="clients")
			.item
				.blockimg
					img(src="./img/home-clients-4.png", alt="clients")
			.item
				.blockimg
					img(src="./img/home-clients-5.png", alt="clients")
			.item
				.blockimg
					img(src="./img/home-clients-6.png", alt="clients")
			.item
				.blockimg
					img(src="./img/home-clients-5.png", alt="clients")
			.item
				.blockimg
					img(src="./img/home-clients-6.png", alt="clients")
